body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #d6eadf;
}
header {
  text-align: center;
}
main {
  max-width: 400px;
  margin: 0 auto;
}
.input-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #95b8d1;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #579bcb;
}
.resultado {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
}
